body {
	margin: 0;
	background-color: #999;
	font-family: consolas;
}

header {
	background: #444;
	padding: 15px 5px;
}

header h1 {
	color: #ffffff;
	margin: 0;
	display: inline;
}

nav ul {
	display: inline;
	margin: 0;
	padding: 0 0 0 15px;
}

nav ul li {
	display: inline-block;
	background: #111;
	color: #0f0;
	padding: 5px 20px;
	list-style-type: none;
}

.row:after {
	clear: both;
	content: " ";
	display: table;
}

.col {
	float: left;
	width: 31.3%;
	margin: .5%;
	padding: 15px .5%;
	background: #000;
	border-radius: 5px;
	color: #0f0;
}